.nav-item {
  font-size: 20px;
  font-weight: bold;
}

.nav-link {
  color: black;
}

a {
  color: black;
  font-weight: bold;
}

a:hover {
  color: #44a1a0; 
}

.navbar {
  background-color: white;
  width: 100%;
}

