.order-card {
  margin: 10px;
  width: 300px;
  height: 400px;
}

.order-card-title {
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0px;
}

.telephone, .address{
  color: black;
}