.order-card {
  margin: 10px;
  width: 300px;
  height: auto;
}

.order-card-title {
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0px;
}

.telephone, .address{
  color: black;
}

.submit-button {
  border: none !important;
  background-color: #44a1a0 !important;
  width: auto;
  height: 35px;
  color: black !important;
}